{
       
		    "idRadicado": "$!exchange.properties.idRadicado",
		    "idTipoDocumento": "$!exchange.properties.idTipoDocumento",
		    "nombreImagen": "$!exchange.properties.nombreImagen",
		    "imagenEncodeBase64": "$!exchange.properties.imagenEncodeBase64",
		    "codigo":"$!exchange.properties.codigo"
}          
